<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.engy.filmasia">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".preferences.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>

        <activity android:name=".sqlite.ViewHistoryActivity"
            android:label="@string/history">

        </activity>

        <activity
            android:name=".contentProviders.ToWatchActivity"
            android:label="@string/to_watch"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".contentProviders.AddToWatchActivity"
            android:label="@string/add_to_watch">
        </activity>

        <provider
            android:authorities="com.example.engy.filmasia"
            android:name=".contentProviders.ToWatchFilmContentProvider"
            android:exported="false"/>
    </application>

</manifest>